<h5><%= message %></h5>
<% if @extra_message %>
  <h6><%= @extra_message %></h6>
<% end %>

<div class="mu-sql-table-rendered">
  <header><%= @table_name %></header>
  <table>
    <thead>
    <tr>
      <% @header.each do |field| %>
          <th><%= field %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @rows.each do |row| %>
        <tr>
          <% row.each do |field| %>
              <td><%= field %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>