<style>
  .required {
    color: #5cb85c;
    font-style: italic;
  }
  .errored {
    color: #d9534f;
    font-style: italic;
  }
</style>

<h5><%= @error %></h5>

<div class="row">

  <!-- Result -->
  <div class="col-md-6">
    <h6><%= @expected_message %></h6>

    <div class="mu-sql-table-rendered">
      <header><% @table_name %></header>
      <table>
        <thead>
        <tr class="<%= @result[:header][:class] %>">
          <th><%= @result[:header][:sign] %></th>
          <% @result[:header][:fields].each do |field| %>
              <th><%= field %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @result[:rows].each do |row| %>
            <tr class="<%= row[:class] %>">
              <td><%= row[:sign] %></td>
              <% row[:fields].each do |field| %>
                  <td><%= field %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>


  </div>

  <!-- Solution -->
  <div class="col-md-6">
    <h6><%= @obtained_message %></h6>
    <header><% @table_name %></header>
    <table>
      <thead>
      <tr class="<%= @result[:header][:class] %>">
        <th><%= @result[:header][:sign] %></th>
        <% @solution[:header][:fields].each do |field| %>
            <th><%= field %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @solution[:rows].each do |row| %>
          <tr class="<%= row[:class] %>">
            <td><%= row[:sign] %></td>
            <% row[:fields].each do |field| %>
                <td><%= field %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
